absl-py==0.7.1
astroid==2.2.5
backcall==0.1.0
cffi==1.12.3
decorator==4.4.0
dominate==2.3.5
entrypoints==0.3
flake8==3.7.8
graphviz==0.11.1
grpcio==1.22.0
ipdb==0.12
ipython==7.16.3
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.13.3
lazy-object-proxy==1.4.1
Markdown==3.1.1
mccabe==0.6.1
mkl-fft==1.0.12
mkl-random==1.0.2
numpy==1.16.4
objgraph==3.4.1
olefile==0.46
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
protobuf==3.9.0
ptyprocess==0.6.0
pudb==2019.1
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.4.2
scipy==1.4.1
six==1.12.0
torch==1.1.0
torchvision==0.3.0
traitlets==4.3.2
typed-ast==1.4.0
urwid==2.0.1
wcwidth==0.1.7
Werkzeug==0.15.5
wrapt==1.11.2
zsvision
psutil
humanize
scikit-learn
mergedeep
